body {
    background-color: #000;
    color: gold;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 50px;
    direction: rtl;
}

header img {
    width: 150px;
    margin-bottom: 20px;
}
